@page "/showitems"

<h3>ShowItems</h3>

@if (items == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Price</th>
                <th>Count</th>
                <th>PaidBy</th>
                <th>UsedByCount</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in items)
            {
                <tr>
                    <td>@item.Name</td>
                    <td>@item.Price</td>
                    <td>@item.Count</td>
                    <td>@item.PaidBy?.Name</td>
                    <td>@item.UsedBy?.Count</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
	List<Item> items = InitializeData.Items;
}
