@page "/showitems"

<h3>Items</h3>

@if (items.Count == 0)
{
    <p><em>No Items Found</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Price</th>
                <th>Count</th>
                <th>PaidBy</th>
                <th>UsedByCount</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in items)
            {
                <tr>
                    <td>@item.Name</td>
                    <td>@item.Price</td>
                    <td>@item.Count</td>
                    <td>@item.PaidBy?.Name</td>
                    <td>@item.UsedBy?.Count</td>
                </tr>
            }
        </tbody>
    </table>
}
<div class="d-flex flex-column justify-content-center mx-auto">
    <input @bind="NewName" placeholder="Enter Name" />
    <input @bind="NewPrice" placeholder="Enter Price" />
    <input @bind="NewCount" placeholder="Enter Count" />
    <button @onclick="Submit" class="btn btn-primary">Submit</button>
</div>

@code {
    List<Item> items = InitializeData.Items;

    private string NewName = string.Empty;
    private decimal NewPrice;
    private int NewCount;

    private void Submit()
    {
        InitializeData.Items.Add(new Item
        {
            Name = NewName,
            Price = NewPrice,
            Count = NewCount,
            PaidBy = null,
            UsedBy = null
        });

        NewName = string.Empty;
        NewPrice = default;
        NewCount = default;
    }
}
